<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427789228693-02lu5cspnhk156tupbvicd70nc7rafic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427789228693-02lu5cspnhk156tupbvicd70nc7rafic</string>
	<key>API_KEY</key>
	<string>AIzaSyALxKrjrQHU1k4bXSZf7eerOGYygnvEexc</string>
	<key>GCM_SENDER_ID</key>
	<string>427789228693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.leafy.leafy</string>
	<key>PROJECT_ID</key>
	<string>leafy-c803d</string>
	<key>STORAGE_BUCKET</key>
	<string>leafy-c803d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427789228693:ios:b7f1f8cb6c7fadae19d99c</string>
</dict>
</plist>